.top-navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(61, 139, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .bottom-navbar {
    height: 50px;
    background-color: rgb(21, 101, 177);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
  }
  
  .bottom-navbar.transparent {
    background-color: rgba(21, 101, 177, 0.8);
  }
  
  body {
    background-color: #fefefe;
    margin: 0;
    padding: 0;
  }

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}
.nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #000;
    background-color: #fff;
}
.nav-bar ul li a.active{
    color: #000;
    background-color: #fff;
}

@media only screen and (max-width: 1320px){
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px){
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background : #fff;
        margin: 6px 0;
    }
    .nav-bar{
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #000;
        transition: 0.2s;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
    }

}